#survey-home {
  ion-segment {
    z-index: 100000000;
    border-radius: var(--theme-border-radius);
    background: #fff;

    box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;

    ion-badge {
      display: inline;
      vertical-align: top;
      margin: 3px;
      margin-left: 3px;
    }

    ion-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-left: 1px;
    }

    ion-segment-button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
    --overflow: hidden;

    ion-list {
      height: 100%;
      width: calc(100% - 20px);
      padding: 0 !important;
      margin: 0 auto;
    }

    .info-background-message {
      margin-top: 20vh;
      margin-bottom: 10vh;
    }
  }

  ion-item-divider {
    padding: 0px 4px 0 12px;
    background: #dae0da !important;
    color: #001400;
    border-radius: var(--theme-border-radius);
  }

  .info-background-message ion-icon {
    --ionicon-stroke-width: 40px;
    margin-bottom: -3px;
    border-radius: 50% !important;
    color: white !important;
    background: var(--ion-color-secondary) !important;
  }
}
